@import "~bootstrap/scss/bootstrap";
@import "/components/style/components";
@import "/containers/style/containers";

$main-1:#343a40;

body{
  background-color: $main-1;
  overflow-x:hidden;
}






