@import "../../theme";

#navigation-section{
}

#intro-section{
	padding-top: 4rem;
	text-align: center;
}
#about-section{
	padding-top: 8rem;
	padding-bottom: 8rem;
	text-align: center;
	min-height: 800px;
}
#projects-section{
	padding-top: 5rem;
	padding-bottom: 5rem;	
	overflow: hidden;
}
#contact-section{
	padding-top: 5rem;
	padding-bottom: 5rem;
}

@media (max-width: 600px) {
#intro-section{
	padding-top: 20vh;
	text-align: center;
}

}