$main-1:#343a40;
#intro-section{
	padding-top: 20vh;
	color: white;
	text-align: center;
}
#about-section{
	padding-top: 8rem;
	padding-bottom: 8rem;
	text-align: center;
	min-height: 800px;
	color: white;
	border-top:3px solid white;
}
#projects-section{
	padding-top: 5rem;
	padding-bottom: 5rem;	
	background-color: black;
	color: white;
	overflow: hidden;
}
#contact-section{
	padding-top: 5rem;
	padding-bottom: 5rem;
	height: 800px;
	background-color: white;	
	color: black;
}